@font-face {
    font-family: Mak;
    src: url("./fonts/MAK.otf");
  }
  
  @font-face {
    font-family: Mak-Bold;
    src: url("./fonts/MAK-bold.otf");
  } 

  .s-btn:active {
background:#1f1f1f
  }

  input,
body,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
